*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body{
  background-color: rgb(238, 238, 238);
}

form#form-login{
  background-color: white;
  width: 400px;
  margin: auto;/*Para centralizar*/
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.4);
}

form > p{
  margin: 15px;
  text-align: center;
}

form > input{
  padding: 10px;
  margin-left: 100px;
  margin-bottom: 30px;

}

input#input-submeter{
  border: none;
  background-color: rgb(56, 197, 0);
}